<h1>Rating statistics</h1>
<ul class= "list-inline">
<li><h2>Best beers</h2>
<%= render 'list', items: @top_beers %></li>
<li><h2>Best breweries</h2>
<%= render 'list', items: @top_breweries %></li>
<li><h2>Best styles</h2>
<%= render 'list', items: @top_styles %></li>
</ul>

<h2>Most active users</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th><strong>favorite beer</strong></th>
    <th><strong>prefered style</strong></th>
    <th><strong>favorite brewery</strong></th>
    <th><strong>ratings</strong></th>
  </tr>
  </thead>

  <tbody>
  <% @top_users.each do |user| %>
    <% if not user.ratings.empty? %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.favorite_beer %></td>
        <td><%= user.favorite_style.name %></td>
        <td><%= user.favorite_brewery.name %></td>
        <td><%= user.ratings.size %></td>
      </tr>
    <%end%>
  <% end %>
  </tbody>
</table>

<h2>Recent ratings</h2>

<ul>
 <% @recents.each do |rating| %>
   <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
 <% end %>
</ul>

